.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(./images/MyPhoto.jpeg) no-repeat;
  background-size:cover;
  background-position-y: -50px;
      
}


.main h2{
  position: relative;
  left: -170px;
  top: -80px;
  color: black;
  background-color: aliceblue;
  font-size:2em;
  font-weight:500;
  border: 3px solid black;
  border-radius: 20px;
  padding: 15px;
  box-shadow: 10px 10px 10px ;
  
}

.ForContact{
  text-decoration: none;
  color: blue;
  font-weight: 700;
  
}
  